docs/Exemplos/Pdf.Beneficio.Carta.Inabilitado/Pdf.Beneficio.Carta.Inabilitado/Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"><xs:element name="CartaInabilitado"><xs:complexType><xs:sequence><xs:element name="Data" type="xs:string" /><xs:element name="Logradouro" type="xs:string" /><xs:element name="Numero" type="xs:string" /><xs:element name="Complemento" type="xs:string" /><xs:element name="Bairro" type="xs:string" /><xs:element name="Cidade" type="xs:string" /><xs:element name="Cep" type="xs:string" /><xs:element name="NomeSolicitante" type="xs:string" /><xs:element name="Processo" type="xs:string" /><xs:element type="xs:string" minOccurs="0" name="Sequencial" /><xs:element name="NomeSegurado" type="xs:string" /><xs:element name="CPFSegurado" type="xs:string" /><xs:element name="CPFSolicitante" type="xs:string" /><xs:element type="xs:string" name="EmailSolicitante" minOccurs="0" /><xs:element name="MotivoRecusa" type="xs:string" /><xs:element minOccurs="0" name="CelularSolicitante" type="xs:string" /><xs:element minOccurs="0" name="NumeroProtocolo" type="xs:string" /><xs:element type="xs:string" name="LinkDocumento" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:schema>